

*,
*::before,
*::after {
  box-sizing: border-box;
}

.player-header {
    font-style: italic;
    border-color: #000000;
    border-width: 0.25vh;
    border-style: solid;
}

.team-header {
    font-style: italic;
    border-color: #000000;
    border-width: 0.25vh;
    border-style: solid;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

article {
    width: 93%;
}

.side-bar {
    width: 7%;
    writing-mode:vertical-rl;
    text-align: center;
    /* vertical-align: middle; */
    
    line-height: 1;
    padding: 1.4vw;
    font-size: 4.2vw;
}

/*Columns*/
.col-1{
    flex:0 0 auto;
    width:8.33333333%
}

.col-2{    
    flex:0 0 auto;
    width:16.66666667%
}

.col-3{    
    flex:0 0 auto;
    width:25%
}

.col-4{    
    flex:0 0 auto;
    width:33.33333333%
}

.col-5{
    flex:0 0 auto;
    width:41.66666667%
}

.col-6{    
    flex:0 0 auto;
    width:50%
}

.col-7{    
    flex:0 0 auto;
    width:58.33333333%
}

.col-8{    
    flex:0 0 auto;
    width:66.66666667%
}

.col-9{
    
    flex:0 0 auto;
    width:75%
}

.col-10{
    flex:0 0 auto;
    width:83.33333333%
}

.col-11{    
    flex:0 0 auto;
    width:91.66666667%
}

.col-12{
    flex:0 0 auto;
    width:100%
}


/*Colours*/
.blue {
    background-color: #9fb9d5;
    color: #1907B4;
}

.green {
    background-color: #ccffcc;
    color: #006600;
}

.grey {
    background-color: #c5c5c5;
    color: #404040;
}

.lime {
    background-color: #CEF984;
    color: #668C00;
}

.orange {
    background-color: #FACB8F;
    color: #A64C00 ;
}

.pink {
    background-color: #FFCEFE;
    color: #C9009C;
}

.purple {
    background-color: #AC9FC6;
    color: #340467;
}

.red {
    background-color: #FFBBBB;
    color: #A90000;
}

.sky {
    background-color: #A4F2FF;
    color: #006FDD;
}

.yellow {
    background-color: #FFFF9A;
    color: #996600;
}


/* . {
    background-color: #;
    color: #;
} */