.team-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5vh 1vw;
    border-radius: 1vw;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    height: 19.0vh;
    font-size: 6.460000000000001vh;
    padding: 6.2700000000000005vh;
}

.player-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5vh 1vw;
    border-radius: 1vw;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    height: 6.99vh;
    font-size: 4.194vh;
    padding: 1.3980000000000001vh;
}

